body{margin-top:20px;}
.avatar{
width: 100px;
border-radius: 50%;
height: 100px;
}			
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 500px;
border-radius: 2%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.check{
background-color: #2196F3;
}
body{
font-family: "Nunito Sans";
}
.login-form{
padding: 25px;
}
h3{
padding-left:30px;
padding-right: 20px;
font-weight: 700;
}
label{
padding-top: 4px;
padding-left: 4px;
}
.bg-color{
background-color:rgb(245, 248, 250);
}
.bg-color:hover label{
color:#31a1f2;
}
.btn-custom{
background-color: #1E90FF;;
border: none;
border-radius: 6px;
font-size: 15px;
line-height: 28px;
color: #fff;
font-weight:400;
height: 35px;
width: 210px;
}
.btn-custom1{
  background-color: #1E90FF;;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  font-weight:700;
  height: 48px;
  width: 210px;
  }
.btn-custom{
color: #fff !important;
background-color: #1E90FF;;
}
.form-control{
border:0px;
background-color: rgb(245, 248, 250);
border-bottom: 2px solid #657786;
padding: 0px 4px 0px 4px;
min-height: 20px;
}
.form-control:focus{
box-shadow: none;
background-color: rgb(245, 248, 250);
border-color: #31a1f2;
}
.fa{
color: rgb(29, 161, 242);
margin: 0 auto;
display: block;
text-align: center;
font-size: 50px;
}
a{
text-decoration: none;
color: rgb(27, 149, 224);
}
a:hover{
text-decoration: underline;
color: rgb(27, 149, 224);
}
.date {
font-family: 'PT Sans', sans-serif;
font-size: 1.2rem;
display: block;
padding: 0.5rem 1rem;
}	                  				                
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}