<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="css/style.css">
  <title>Document</title>

</head>
<body>
  <div class="container bootstrap snippets bootdey">
   
   
  <div class="row">
      <!-- left column -->
      <form action="/update_profile" method="post">
      <div class="col-md-3" style="background-color: #1E90FF;">
        <div class="text-center">
          <img src="images/avatar7.png" class="avatar" alt="avatar">
          
          
          <input type="file" >
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
  
        <h3>Personal info</h3>
        
        
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="name" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Bio:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="bio">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Location:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="location">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Website:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="website">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Date of Birth:</label>
            <div class="col-lg-8">
              <input class="form-control" type="date" name="dob">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="phone">
            </div>
          </div>
          <div class="form-group">
           
            <div class="col-lg-8">
            <label>Female </label>
            <input type="radio" name="gender" class="form" id="gender" value="male">
            <label>Male </label>
            <input type="radio" name="gender" class="form-control" id="gender"  value="female">
            <br><br>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8"></div>
            <button type="button" id="next" class="btn btn-custom btn-lg btn-block mt-3">Change Password</button>
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <div class="col-lg-8"></div>
            <input type="submit" value="Update Profile"  class="btn btn-custom1 btn-lg btn-block mt-3">
            </div>
          </div>
        </form>
      </div>
  </div>
  </div>
  <hr>
</body>
</html>